# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
Tests/Scripts/Output/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Build temporaries
.ninja_*
*.pdb

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.suo
.vs/
.vscode/
Debug/
Release/
*.vcxproj.user
